<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="ID +': '+${user.getId()}">VALUE</p>
<p th:text="Username +': '+${user.getUsername()}">VALUE</p>
<p th:text="Password +': '+${user.getPassword()}">VALUE</p>
<p th:text="Roles +': '+${user.getAuthorities()}">VALUE</p>
<p th:text="Name +': '+${user.getName()}">VALUE</p>
<p th:text="Lastname +': '+${user.getLastname()}">VALUE</p>
<p th:text="Age +': '+${user.getAge()}">VALUE</p>
<p th:text="Work +': '+${user.getWork()}">VALUE</p>
<p th:text="Married +': '+${user.isMarried()}">VALUE</p>
<hr/>
<a href="/admin/users">To all users</a>
</body>
</html>